.display{
    width: 70px;
    height: 50px;
    background-color: #BBFF00;
    border: 3px #123456 solid;
    border-radius:8px;
    margin: 10px;
}
.display1{
    width: 70px;
    height: 50px;
    background-color: #FF5511;
    border: 3px #123456 solid;
    border-radius:8px;
    margin: 10px;
}
center{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	margin: auto;
	top: 50px;
	padding: 20px;
	font-size: 20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .4);
	border-radius: 3px;
	background: #eef;
}
br{
	font-style: italic;
	font-weight: bold;
}